<div class="contact ">

<div class="container">

  <div class="contact-hero text-center fw-bold">
    <h3>CONATCT SECTION</h3>
    <div class="d-flex align-items-center justify-content-center mb-3 ">
        <div class="iconss me-3"> </div>
           <i class="fa-solid fa-star"></i>
           <div class="iconss ms-3" ></div>
        </div>
</div>


  <form class="mx-auto w-50" id="form">
      <input type="text" placeholder="username" class="border-0 border-bottom py-3">
      <input type="text" placeholder="userAge" class="border-0 border-bottom py-3"             >
      <input type="text" placeholder="userEmail"class="border-0 border-bottom py-3">
      <input type="text" placeholder="userpassword"class="border-0 border-bottom py-3">
      <button class="btn mt-4 text-white w-25" style="background-color: #1abc9c;">send massage</button>
  </form>
</div>


</div>


