/* .home{

  background-color:#1abc9c ;
  height: 100vh;
  width: 100%;
  position: relative;
}

.item{
  width: 100%;
}

.item img{
  width: 250px;
  position: absolute;
  left: 40%;
  top: 10%;
}
#content{
  position: absolute;
  left: 35%;
  top:55% ;
  font-weight: 250px;
}
#icon{
  color: aliceblue;
  position:absolute;
  left: 48%;
  top: 65%;
  background-color: blue;
}



.line-wrapper::before,
.line-wrapper::after {
    background-color: white;
}
.start{
  font-size: 2.5rem!important;
}


.home p{
  color: aliceblue;
  font-size: 20px;
  position: absolute;
  left: 37%;
  top: 70%;
}




 */
 .container-fluid {
  /* min-height: 100vh; Set a minimum height to take up the full viewport height */
  display: flex;
  flex-direction: column;
}
.home{

height: 100vh;
}

.min-vh-100 {
  /* flex: 1; Allow the container to grow to fill available space */
}
.title
{
  color: white;
}
.line-wrapper::before,
.line-wrapper::after {
  background-color: white;
}
.start{
font-size: 2.5rem!important;
}



